@font-face {
    font-family: 'yekan';
    src: url('./fonts/Yekan.ttf') format("truetype"), url('./fonts/Yekan.eot') format('embedded-opentype');
    
}

.yekan{
    font-family: "yekan";
   font-size:10.2pt;
}
.yekan-large{
    font-family: "yekan";
    font-size: 11.2pt;
}

body{
    margin: 0px;
}
li{
    list-style: none;
}
#header{
    width:1700; height: 40px; color: #727272; box-shadow: 0 4px 8px #ccc; background-color: #a5d122; border-top: 1px solid #727272; 

    box-shadow: 0 2px 4px #ccc;
}
#header-left{
    width: 200px; height: 40px; float: left;
}
#register-box{
   display: inline-block; width: 240px; height: 25px; margin-right: 100px; margin-top: 6px; border: 1px solid rgba(75,75,75,1);; border-radius: 2px; box-shadow: 0 .5pt .5pt #ccc; background-color: floralwhite;
}
#register{
    display: block; width: 16px; height: 16px; background-image: url('./image/padlock.png');  float: right; position: absolute; right:109px; top: 12px;
}
a{
    text-decoration: none;
}
#link-register{
    float: right; margin-right: 10px; color: rgba(75,75,75,1); line-height: 25px;
}
#login{
    display: block; width: 16px; height: 16px; background-image: url('./image/log-in.png'); float: right; margin-right: 20px; margin-top: 6px; position: absolute; right:350px; top: 6px;
}
#link-login{
    float: right; margin-right: 8px; color: rgba(75,75,75,1); margin-top: 5px; line-height: 16px;
}
#box-search{
    width: 740.4pt; height: 50px; margin: auto;
}
#akslogo{
    margin-right: 110px; float: right; margin-top: 10px;
}
#search{
    margin-top: 28px; margin-right: 185px; width: 650px; height: 28px; border-radius: 0 2px 2px 0; border: 1px solid #727272; box-shadow: 0 .5pt .5pt #ccc; padding-right: 10px;
}
#box-small-search{
    width: 30px; height: 21.2pt; float: left; margin-top: 19.5pt; border: 1px solid #727272; box-shadow: 0 .5pt .5pt #ccc;
    border-radius: 2px 0 0 2px;  position: absolute; top: 59.5pt; left: 400px; background-color:#bdc3c7;
}
#icon-search{
    display: block; width: 16px; height: 16px; background-image: url('./image/search.png'); margin: 7px auto;
}
#lock-box-small{
    width: 30px; height: 18.7pt; float: right;  border: 1px solid rgba(75,75,75,1); position: relative; right: -1px; top:-.5pt; border-radius: 0 2px 2px 0; box-shadow: 0 .5pt .5pt #ccc; 
}
#login-box-small{
    width: 30px; height: 18.7pt; float: right; border: 1px solid rgba(75,75,75,1); position: relative; right: -.5pt; top:-.5pt; border-radius: 0 2px 2px 0; box-shadow: 0 .5pt .5pt #ccc; 
}
#login-box{
  display: inline-block;  width: 115px; height: 25px; margin-top: 6px; border: 1px solid rgba(75,75,75,1); border-radius: 1px; margin-right: 15px; box-shadow: 0 .5pt .5pt #ccc;
    background-color: floralwhite;
}
#header2{
    width: 100%; height: 35px; box-shadow: 0 .5pt pt #ccc;  border-top:.1pt solid green; border-bottom: .1pt solid green; box-shadow: 0 2px 4px #ccc; 
}
#header2-list{
  width: 1000px; height: 35px;  margin: auto;
}

#header3{
    width: 100%; height: 90px; box-shadow: 0 .5pt .5pt #ccc; background-color: aliceblue;
}

#sabad{
    width: 30px; height: 18pt; background-color: floralwhite; float: right; border-radius: 0 1px 1px 0; margin-top: 6px; border: 1px solid green; position: absolute; left: 199px; box-shadow: 0 .5pt .5pt #ccc;
}
#cart{
    background: url('./image/sabad.png'); width: 70px; height: 80px; display: block; background-repeat: no-repeat; position: absolute; left: 6px; top: 4px;
}
#box-sabad{
    background-color: floralwhite; height: 18pt; width: 85px; padding-right: 12px; line-height: 30px; border-radius: 2px 0 0 2px;  float: right; margin-top: 6px; border: 1px solid green; box-shadow: 0 .5pt .5pt #ccc;
}
#khrid{
    color: rgba(75,75,75,1); float: right; line-height: 17.5pt; 
}
#box-khrid1{
width: 14px; height: 16px; float: right; position: relative;  margin-right: 7px; margin-top: 2.8pt;
border-radius: 20px;  background-color: #ffffff; border: 1px solid rgba(75,75,75,1);
}
#tedad-khrid{
    display: block; text-align: center; position: relative; bottom: 4.8pt; left: 0.05pt; font-size: 9pt;
}
hr{margin: 0;
}
.sublist{
    list-style: none; display: inline-block; margin-right: 30px; margin-top: 7px;
}

#list1{
  padding: 0;  margin: 0; text-align: center;
}
.rang{
color: black;
}
#header4{
    width: 100%; height: 45px; background-color: #f9f9fc; border-top: 1px solid #c6cfdd; border-bottom: 1px solid #c6cfdd;
}
#ulmenu{
    margin: auto; width: 1200px; height: 45px;
}
.sublist2{
    display: inline-block; margin-right: 30px;  color: black; font-size: 14px;
}
#sublist2-1{
    margin-right: 30px; display: inline-block;
}
	* {
  	margin: 0; 
		padding: 0;
		
	}

	#container {
		position: relative;
		width: 100%;		
	}

	#container:after {
		content: "";
		display: block;
		clear: both;
		height: 0;
	}

	#menu {
		position: relative;
		float: right;
		width: 100%;
		padding: 0 20px;
		box-shadow: inset 0 1px 1px rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.15), 0 1px 3px rgba(0,0,0,.15);
		background: #ccc; 
		 
	}

	#menu, #menu ul {
		list-style: none;
	}

	#menu > li {
		float: right;
		position: relative;
		border-right: 1px solid rgba(0,0,0,.1);
		box-shadow: 1px 0 0 rgba(255,255,255,.25);
		perspective: 1000px;
		
	}

	#menu > li:first-child {
		border-left: 1px solid rgba(255,255,255,.25);
		box-shadow: -1px 0 0 rgba(0,0,0,.1), 1px 0 0 rgba(255,255,255,.25);
        margin-right: 160px;

	}

	#menu a {
		display: block;
		position: relative;
		z-index: 10;
		padding: 13px 20px 13px 20px;
		text-decoration: none;
		color: rgba(75,75,75,1);
		line-height: 1;
		font-weight: 600;
		font-size: 14px;
		letter-spacing: -.05em;
		background: transparent;		
		text-shadow: 0 1px 1px rgba(255,255,255,.9);
		transition: all .25s ease-in-out;
	
	}

	#menu > li:hover > a {
		background: #647687; 
		color:#ddd;
		text-shadow: none;
	}

	#menu li ul  {
		position: absolute;
		left: 0;
		z-index: 1;
		width: 200px;
		padding: 0;
		opacity: 0;
		visibility: hidden;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		background: transparent;
		overflow: hidden;
		transform-origin: 50% 0%;
	}


	#menu li:hover ul {
		
		padding: 10px 10px;
		background: #37474F;
		opacity: 1;
		visibility: visible;
		box-shadow: 1px 1px 7px rgba(0,0,0,.5);
		animation-name: swingdown;
		animation-duration: 1s;
		animation-timing-function: ease;
		

	}

	@keyframes swingdown {
		0% {
			opacity: .99999;
			transform: rotateX(90deg);
		}

		30% {			
			transform: rotateX(-20deg) rotateY(5deg);
			animation-timing-function: ease-in-out;
		}

		65% {
			transform: rotateX(20deg) rotateY(-3deg);
			animation-timing-function: ease-in-out;
		}

		100% {
			transform: rotateX(0);
			animation-timing-function: ease-in-out;
		}
	}

	#menu li li a {
		padding-left: 15px;
		font-weight: 300;
		color: #DCDCDC;
		text-shadow: none;
		border-top: dotted 1px transparent;
		border-bottom: dotted 1px transparent;
		transition: all .15s linear;
	}

	#menu li li a:hover {
		color: rgba(0,223,252,1);
		border-top: dotted 1px rgba(255,255,255,.15);
		border-bottom: dotted 1px rgba(255,255,255,.15);
		background: rgba(0,223,252,.02);
	}
	#list1-1{
		margin-left:-71px;
	}

	#list1-3{
		margin-left: -48.2pt;
	}
	#list1-4{
		margin-left: -84pt;
	}
	#list1-5{
        margin-left: -79pt;
	}
	#list1-6{
        margin-left: -69pt;
	}
	#list1-7{
        margin-left: -105pt;
	}
	#list1-8{
margin-left: -93pt;
	}
	#list1-9{
margin-left: -109pt;
	}
	#header5{
		width: 100%;
	}
	#header5-1{
		width: 954px; height: 484px; background-repeat: no-repeat; background-size:contain ;
		 margin-top: 15px; margin-right: 40px; border-radius: 3px; float: right;
	}
	#img1{
		width: 954px; height: 484px; background-repeat: no-repeat; background-size:contain ;
	}
	#header5-2{
		width: 472px; height: 237px; background-repeat: no-repeat; background-size:contain ;
		margin-top: 15px; border-radius: 3px; float: left; margin-left: 40px;
	}
	#img2{
		width: 472px; height: 237px; background-repeat: no-repeat; background-size:contain ;
	}
	#header5-3{
		width: 472px; height: 237px; background-repeat: no-repeat; background-size:contain ;
		margin-top: 10px;  margin-bottom:7px;  border-radius: 3px; float: left; margin-left: 40px; cursor: grab;
	}
	#img3{
		width: 472px; height: 237px; background-repeat: no-repeat; background-size:contain;
	}
	
	.main-center{
		width: 1439px; height: 502px; float: right; margin-right: 41px; margin-top: 25px;
	}
	.main-center-main-h2{
		width: 100%;
		height: 20px;
		background: url(./image/pt.png) repeat center center;
		text-align: center;
		margin-bottom: 10px;
	}
	.main-center-h2{
	    display: inline-block;
        padding: 0 30px;
        height: 20px;
        line-height: 20px;
        font-weight: 700;
        font-size: 18px;
        color: #222;
        background-color: #fff;
	}
	.main-center-main-table{
		position: relative; margin: 0px -5px;
		width: 1459px; height: 461px;
	}
	.main-center-h2-table-div{
		width: 230px; height: 401px; float: right; margin: 20px 5px; border-radius: 2px; box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
		border: solid 1px #e8e8e8;
	}
	.daro{
	   text-align: center;
       padding-top: 22px;
       position: relative;
	   background-color:#fff;
	   height: 200px;
	   width: 230px;
	}
	.price{
		height: 123px; width: 210px; padding: 20px 10px 35px 10px; position: relative;
		min-height: 174px;
	}
	.h-price{
		margin-bottom: 5px; font-size: 16px; font-weight: 700; display: block; height: auto;
	}
	.color-a{
		color: #222;
	}
	.span-price{
		display: block; margin-bottom: 8px;
	}
	.takhfif{
         float: left;
         font-size: 19px;
         font-weight: 700;
         background-color: #ff3737;
         color: #fff;
	     border-radius: 4px;
         height: 30px;
         line-height: 30px;
         padding: 0 5px;
         margin-right: 8px;
	     padding: 0 5px;
	}
	.price-old{
         float: left;
         font-size: 13px;
         color: #666;
         text-decoration: line-through;
         margin-top: 7px;
	}
	.price-new{
		display: block;
        font-weight: 700;
        font-size: 22px;
        color: #222;
        line-height: 110px;
     	position: absolute; left: 10px;
        bottom: 22px;
	
	}
	.price-new-i{
		font-size: 15px;
		font-style: normal;
        font-weight: 700;
        font-size: 17px;
        color: #222;
        line-height: 13px;
	}
	.image-capsol{
		width: 200px; height: 200px;
	}
	.container{
		width: 100%; max-width: 1676px; padding-left: 5px; padding-right: 5px; margin-right: auto; margin-left: auto;
		float: right;
	}
	.list-container{
		padding-right: 0;
        list-style: none;
		margin-bottom: 0; margin-top: 0;
		width: 100%;
	}
	.li-list-container{
		display: inline-block;
		width: 19%;
		text-align: center;
	}
	.a-li-list-container{
		display: inline-block;
		font-weight: 300;
		font-size: 13px;
		color: #666;
		width: 113px;
		height: 64px;
	}
	.img-a-li-list{
		margin: 0 auto;
		width: 50px; height: 50px;
		max-width: 100%;
    height: auto;
	vertical-align: middle;
	border: 0;
	overflow-clip-margin: content-box;
    overflow: clip;
	line-height: 54px;
	}
	.div-container{
		height: 54px;
		line-height: 54px;
		margin-bottom: 12px;
	}
	.hr-container{
		position: relative;
		background-color: #f7f7f7;
		padding: 18px 0;
		border-top: solid 1px #dedfe5;
		float: right;
		width: 100%;
	}
